In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
# Check column names in uk_rfm_cleaned.parquet
uk_rfm = pd.read_parquet('../data/cleaned/uk_rfm_cleaned.parquet')
uk_rfm.columns
uk_rfm.head()

   Customer ID  Recency  Frequency    Monetary
0         -1.0        0     225651  3021334.77
1      12346.0      325         34    77556.46
2      12608.0      404         16      415.79
3      12745.0      486         22      723.85
4      12746.0      540         17      254.55

In [9]:
uk_rfm.to_csv('~/Downloads/uk_rfm_cleaned.csv', index=False)